<footer>
  <div class="row">
    <div class="col s6">
      Josh Prince &nbsp; |
      &nbsp; Austin, TX &nbsp; |
      &nbsp; <a href="mailto:josh@jprince.codes">josh@jprince.codes</a> &nbsp; |
      &nbsp; 978.331.0801
    </div>
    <div class="col s6 right-align">
      <a href="https://github.com/jprince" target="_blank"><%= image_tag 'github-logo.png' %></a>
      <a href="https://linkedin.com/in/joshprince" target="_blank"><%= image_tag 'linkedin-logo.png' %></a>
    </div>
  </div>
</footer>
