@import '../../common/variables';

.home { text-align: center; }

.maintainability-card,
.scalability-card,
.testability-card {
  background-color: $grey-lighter !important;
  color: $blue-dark;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  text-transform: uppercase;
}

.maintainability-card .material-icons {
  font-size: 3.7rem;
  margin-bottom: 2.63rem;
  margin-top: 0.4rem;
}

.scalability-card,
.testability-card {
  .material-icons {
    font-size: 5rem;
    margin-bottom: 1.75rem;
  }
}

img {
  max-height: 100%;
  max-width: 100%;
}

.education,
.portfolio,
.professional-experience,
.technical-skills {
  margin: 3rem 0 0 !important;

  button {
    height: 40px;
    margin-left: 0.5rem;
    width: 40px;
  }
}

.experience-ahp { padding: 2.7rem 0 0 2rem; }
.education-bu { padding: 0.5rem 0 0 3.8rem; }
.skills-chart img { width: 87%; }

.portfolio a > div {
  align-items: center;

  img {
    border-radius: 3px;
    box-shadow: $image-box-shadow;
  }
}
