@import 'variables';

.contact-form {
  .btn {
    background-color: $orange;

    &:hover { background-color: $orange-dark; }
  }

  .btn-floating { background-color: $red; }

  .contact-info {
    font-size: 1.2rem;
    margin-top: 0.9rem;

    div { margin: 0.3rem 0; }
  }
}
