@import 'variables';

.btn-floating {
  background-color: $orange;

  &:focus,
  &:hover { background-color: $orange-dark; }
}

.company-description {
  font-style: italic;
  margin-bottom: 2rem;
}

.development-value {
  color: $blue-dark;

  .card {
    padding: 1rem;
    text-transform: uppercase;

    > div {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .large { font-size: 5rem; }

    .maintainability-icon {
      font-size: 4rem;
      margin-bottom: 2.7rem;
    }
  }

  .material-icons { margin-bottom: 1.75rem; }
}

.education,
.portfolio,
.professional-experience,
.technical-skills {
  margin: 4rem 0;
}

.education .row { margin-bottom: 0; }
.role-description {
  font-weight: 600;
  text-transform: uppercase;
}

.row {
  .education-bu { padding: 0.5rem 0 0 3.2rem; }

  .experience-ahp { padding: 2.7rem 0 0 2rem; }
}

.skills-chart img { width: 830px; }
