@import 'variables';

.carousel {
  height: 594px !important; // scss-lint:disable ImportantRule
  margin-top: 3rem;

  .indicators {
    right: 10px;
    text-align: right;

    .indicator-item {
      background-color: $orange;
      height: 12px;
      margin: 20px 10px 10px;
      opacity: 0.5;
      width: 12px;

      // scss-lint:disable NestingDepth
      &.active {
        background-color: $orange-dark;
        opacity: 1;
      }
      // scss-lint:enable NestingDepth
    }
  }
}

.carousel-navigation {
  i {
    color: $orange;
    cursor: pointer;
    font-size: 80px;
    position: absolute;
    top: 360px;

    &:hover { color: $orange-dark; }
    &.previous-icon { left: 8%; }
    &.next-icon { right: 8%; }
  }
}

.collapsible-body { background-color: $white; }
.collapsible-header {
  font-size: 1.1rem;

  &.active { font-weight: 600; }
}

.gallery .card {
  background: none;
  box-shadow: none;
}

.material-icons.icon-green { color: $icon-green; }
.material-icons.icon-grey { color: $grey; }
.material-icons.icon-red { color: $icon-red; }
.project-details {
  color: $grey-dark;
  margin-top: 40px;

  h2 {
    color: $grey-dark;
    font-size: 2.3rem;
    letter-spacing: 1.2px;
  }
}

// Optimize gallery card heights for each project
.arcadia-analytics .gallery .card { height: 360px; }
.kanburn .gallery .card { height: 290px; }
.kings-corner-barbershop .gallery .card { height: 270px; }
.my-wedding-website .gallery .card { height: 270px; }
.sleepers-and-keepers .gallery .card { height: 250px; }
