// Colors
// palette: http://paletton.com/#uid=13p0u0koWNXe0V0jWRmufK3FuxR
$blue: #36b0d8;
$blue-dark: #047da5;
$grey-dark: #545454;
$orange: #ff9e38;
$orange-dark: #ff8300;
$purple: #6752e0;
$purple-light: #873fdd;
$red: #ff5738;
$white: #fff;

$icon-green: #43a047;
$icon-grey: #757575;
$icon-red: #ef5350;

// Fonts
$default-font: 'Raleway', sans-serif;
