//
 // This is a manifest file that'll be compiled into application.css, which will include all the files
 // listed below.
 //
 // Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 // vendor/assets/stylesheets directory can be referenced here using a relative path.
 //
 // You're free to add application-wide styles to this file and they'll appear at the bottom of the
 // compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 // files in this directory. Styles in this file should be added after the last require_* statement.
 // It is generally better to create a new file per style scope.
 //

@import 'variables';
@import 'home';
@import 'portfolio';

body { font-family: $default-font; }

footer,
header {
  background: $blue;
  color: $white;
  letter-spacing: 0.08rem;
}

footer {
  margin-top: 1.5rem;
  padding: 0.75rem;

  a { color: $white; }

  img { margin-left: 1rem; }
}

header {
  font-size: 1.3rem;
  padding: 0.65rem 1.3rem;

  a { color: $white; }
}

h1 {
  color: $purple;
  font-weight: 700;
  margin-top: 5rem;
  text-transform: uppercase;
}

h3,
h4,
h5 { color: $purple-light; }

h3 {
  font-size: 3.75rem;
  margin-bottom: 3rem;
}

h4 { margin-bottom: 1.5rem; }
